.admin{
    display: flex;
    margin: 0;
    font-family: "Poppins";
    background-color: #f6f6f6;
    height: 120vh;
    margin-bottom: 50px;
}
@media(max-width:800px){
    .admin{
        flex-direction: column;
    }
}